<h1>New project</h1>

<% form_for(@project, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :applet %><br />
    <%= f.file_field :applet %>
  </p>
  <p>
    <%= f.label :applet_code %><br />
    <%= f.text_field :applet_code %>
  </p>
  <p>
    <%= f.label :applet_width %><br />
    <%= f.text_field :applet_width %>
  </p>
  <p>
    <%= f.label :applet_height %><br />
    <%= f.text_field :applet_height %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>