<h1><%=h @project.name %></h1>
<% if current_user_session and @project.user == current_user %>
  <div><%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Delete", @project, :method => :delete %></div>
<% end %>

<div id="author">By: <%= link_to @project.user.name, @project.user %></div>

<h2>Description:</h2>
<%= simple_format @project.description %>

<div class="screenshot"><%= image_tag @project.image.url %></div>

<% if @project.applet.exists? %>
  <% content_tag :applet, :archive => @project.applet.url, :code => @project.applet_code,
    :width => @project.applet_width, :height => @project.applet_height do %>
    Not working?
  <% end %>
<% else %>
  <p>No associated applet with this project</p>
<% end %>